*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    /* max-width: 600px; */
    height: 600px;
    outline: 2px solid #000;
    margin: 30px auto;
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    

    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
   
    /* flex-flow es un short hand  de 
    flex-direction flex-wrap*/
    /* flex-flow: column wrap; */
    
   
}

.item{
    --height: 80px;
    background: tomato;
    width:80px;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
   
   /* order: ; */
    /* flex-grow: 1; */
    /* flex-shrink: 10; */
    /* flex-basis: ; */

    /* la propiedad flex es el shorthand */
    /* flex: grow-shrink-basis; */
    /* flex: 1 1 0; */
   
   
    

}

.item1{
    /* align-self: flex-end; */
    /* flex-shrink: 3; */
  
   
}

.item2{
    background: hotpink;
  
}


.item3{
    background: greenyellow;
    /* align-self: stretch; */
    /* order: -1; */
    /* flex-grow: 1; */
    align-self: ;

    /* margin-top: auto; */
    margin-left: auto;
    /* margin-bottom: auto; */
    /* margin-right: auto; */

   
}


.item4{
    background: purple;
    /* align-self: flex-end; */
}




